#descricao-videogame {
    background-color: orange;
}

#descricao-pc {
    background-color: orange;
}

.descricaoProduto {
    background-color: lightgreen;
    margin: 40px;
    padding: 20px;
    border: solid 3px green;
}