* {
    margin: 0;
}

.elemento {
    font-size: 32px;
    color: #fff;
    width: 250px;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    background-color: crimson;
    position: static;
}

.elemento-relativo {
    background-color: lightgreen;
    position: relative;
    left: 250px;
}

.elemento-absoluto {
    background-color: lightsalmon;
    position: absolute;
    left: 350px;
    top: 0;
}

.relativo-pai{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #5f1c1c;
}

.absoluto-filho {
    position: absolute;
    background-color: rgb(95, 147, 193);
    width: 150px;
    height: 150px;
    bottom: 20px;
    top: 0;
    right: 0;
}