.container{
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap-reverse;*/
    flex-flow: row wrap;
}

.container div{
    background-color: crimson;
    color: white;
    margin: 10px;
    width: 100px;
    height: 100px;
}