*{
    font-size: 64px
}

.container{
    border: 1px solid #ccc;
    display: flex;
    height: 330px;
    align-items: baseline;
    flex-wrap: wrap;
}

.item{
    background-color: lightgreen;
    margin: 10px;
}

.grow0{
    flex-grow: 0;
}

.grow1{
    flex-grow: 1;
}

.grow2{
    flex-grow: 2;
}

.grow3{
    flex-grow: 3;
}

/*Pensa em uma estante cheia de brinquedos, o align-content voce alinha as prateleiras dessa estante, e os brinquedos nela voce alinharia com o align-items, ou seja a prateleira voce alinha ao centro da estante, ja os brinquedos no start por exemplo da prateleira kkkk nao sei se ficou mais claro pra voce*/