.container {
    display: flex;
    flex-flow: row-reverse nowrap;
}

.container div {
    background-color: lightgreen;
    color: green;
    margin: 10px;
    width: 200px;
    height: 200px;
    font-size: 32px;
}