@media(min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }

    .logo {
        margin: 0;
        gap: 5.59px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .menu {
        flex-direction: row;
        gap: 30px;
    }

    .menu a {
        font-size: 18px;
        padding: 11px 7px;
    }

}

/** max - va ate uma resolucao X (Va ate 678px por ex)
min - apartir de 768 mude **/